body {
	background-color:#CFDEE7; 
	font-family: "Mosk", Helvetica, sans-serif;               /*Couleur du fond*/
}

h1 {                                                          /*Titre*/
	font-family: "Mosk", Helvetica, sans-serif;               /*Typo*/
	font-size: 5em;                                           /*Taille de la typo*/
	color: #4472CA;                                           /*Couleur de la typo*/
	text-align: center;                                       /*Centrage du titre*/
}

article {
	margin-left: -50px;
}

                 
ul {                                                          /*Liste en elle même*/
	display: flex;                                            /*Dispose les éléments de la liste en ligne*/
	flex-wrap: wrap;                                          /*Permet le retour à la ligne des éléments si besoin*/
	justify-content: center;
}

li {                                                          /*Elements de la liste*/
	display: flex;                                            /*Permet de centrer le contenu des éléments de la liste*/            
	justify-content: center;                                  /*Centrage horizontal*/        
	align-items: center;                                      /*Centrage vertical*/
	list-style: none;                                         /*Enlève les puces de la liste*/
	color: #5E7CE2;                                           /*Couleur de la typo*/
	width: 38px;                                              /*Taille de l'élément en largeur*/
	height: 38px;                                             /*Taille de l'élément en hauteur*/
	border:2px solid #92B4F4;                                 /*Contour des éléments, largeur du contour, type, couleur*/
	border-radius: 20px;                                      /*Arrondi le contour*/
	padding: 1px;
	margin: 2px; 

}

li:nth-child(even) {                                           /*Change le background des li sur les li impaires*/
	background-color: #92B4F4;
	border-radius: 0px;
}

#message_avertissement_javascript p{
	text-align: center;
	font-size: 1.8em;
	color: #5E7CE2;
}

#message_avertissement_javascript a {
	text-decoration: none;
	color: #5E7CE2;
}